body{ 
    background:#ccc;
}
.navbar{
    background-color: #2c3e50!important;
}
 #header a:hover{ 
color: #fff;

 }
 #bgimg{ 
    font-size: 15px;
    background-size: 100%;
    min-height: 700px;
    background-repeat: no-repeat;
    background-image: url('../images/Image1.jpg');

 }
 .page-footer{
    /* background-color:#1a252f; */
    background-color: #2c3e50!important;

    color: #fff;
    font-size: 80%;
 }
 

 /* .bg-primary { 
    background-color: #1abc9c!important;
}
.divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
}
.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}
.divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: .25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50!important;
}
.masthead .masthead-avatar {
    width: 15rem;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
img {
    vertical-align: middle;
    border-style: none;
}

    /* footer{ 
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        
        padding: 20px;
        text-align: center;
        font-size:15px;
        background-color:rgb(128, 136, 141);
        color: #ddd;
        margin: 0;
    }
     */