body{ 
    background:#ccc;
}
.navbar{
    background-color: #216583;
}
 #header a:hover{ 
color: #fff;

 }
 #bgimg{ 
    font-size: 15px;
    background-size: 100%;
    min-height: 700px;
    background-repeat: no-repeat;
    background-image: url('../images/Image1.jpg');

 }
 .page-footer{
    background-color:rgb(128, 136, 141);
 }

    /* footer{ 
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        
        padding: 20px;
        text-align: center;
        font-size:15px;
        background-color:rgb(128, 136, 141);
        color: #ddd;
        margin: 0;
    }
     */